<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>Index</title>
	<style>
        .container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

    .images{
        height: 3em;
        width: 3em;
    }
    </style>
</head>
<body>
	{{!-- <div class="col-md-4"> --}}
        {{#each images}}
    <div class="display_images">
        <img class="rounded mx-auto d-block" src="{{this.image_path}}" alt="myImages">
        <button class="btn collapsible"><span><i class="fas fa-comments"></i></span></button>
        <div class="content">
            <p class="comments">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore e t dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <button class="btn"><span><i class="fas fa-thumbs-up"></i></span></button>
        
    <form action="/comments" method="POST">
        <div class="comments">
            <input class="comment-box" type="text" name="comment">
            <input type="hidden" name="image_id" value="{{this._id}}">
            <button class="btn btn-primary" type="submit">Post</button>
        </div>
    </form>
    </div>
{{/each}}
    {{!-- </div> --}}
</body>

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.maxHeight){
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      }
    });
  }
  </script>
</html>