<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>Index</title>
</head>
<body>
	<h2>Index</h2>
	<p>This is the index</p>
	<div class="col-md-4">
        <form method="GET" action="/index/{{ image.id }}">
          <img src="{{ image.path }}" style="width:304px;height:228px;">
        </form>
    </div>
</body>
</html>