
<head>
  <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/ajax.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
	<style>
        
  .container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

    </style>
</head>
{{#each images}}
    <div class="display_images">
        <img class="rounded mx-auto d-block" src="{{this.image_path}}" alt="myImages">
        <button class="btn collapsible"><span><i class="fas fa-comments"></i></span></button>
        <div class="content">
        <p class="comments">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore e t dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
        <button class="btn like-btn"><span><i data-id="{{this._id}}" id="like-btn" class="fas fa-thumbs-up"></i></span></button>
        
    <form action="/comments" method="POST">
        <div class="comments">
            <input class="comment-box" type="text" name="comment" required>
            <input type="hidden" name="image_id" value="{{this._id}}">
            <button class="btn btn-primary" type="submit">Post</button>
        </div>
    </form>
        
    </div>
{{/each}}

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.maxHeight){
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      }
    });
  }
  </script>
