<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
<body>
    <h2 class="page- header text-secondary">Sign up</h2>
    {{#if errors}}
        {{#each errors}}
            <div class="alert alert-danger"> {{msg}} </div>
        {{/each}}
    {{/if}}
    <form method="POST" action="/users/register">
        <div class="form-group">
            <label class="text-success">Name</label>
            <input type="text" name="name" class="form-control border border-success" placeholder="Name">
        </div>
        <div class="form-group">
            <label class="text-success">Username </label>
            <input type="text" name="username" class="form-control border border-success" placeholder="Username">
        </div>

        <div class="form-group">
            <label class="text-success">Email</label>
            <input type="text" name="email" class="form-control border border-success" placeholder="Email Address">
        </div>

        <div class="form-group">
            <label class="text-success">Password</label>
            <input type="Password" name="password" class="form-control border border-success" placeholder="Password">
        </div>
        <div class="form-group">
            <label class="text-success">Confirm Password</label>
            <input type="Password" name="password2" class="form-control border border-success" placeholder="Confirm Password">
        </div>
       
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
</body>
</html>