<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/ajax.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
</head>
<body>
    {{#if user}}
   <form method="POST" action="/users/update">

        <div class="form-group">
            <label class="text-success">Username </label>
            <input type="text" name="username" class="form-control border border-success" placeholder="Username">
        </div>

        <div class="form-group">
            <label class="text-success">Email</label>
            <input type="text" name="email" class="form-control border border-success" placeholder="Email Address">
        </div>

        <div class="form-group">
            <label class="text-success">Password</label>
            <input type="Password" name="password" class="form-control border border-success" placeholder="Password">
        </div>
        <div class="form-check">
            <input class="form-check-input position-static task" type="radio" name="notification" value="option1" aria-label="...">
            <label class="text-success">Notification</label>
        </div>
        <button type="submit" class="btn btn-outline-success">Update</button>
    </form>
    {{else}}
   <form method="POST" action="/users/update">
    <div class="form-group">
        <label class="text-success">Password</label>
        <input type="Password" name="password" class="form-control border border-success" placeholder="Password">
    </div>
    <div class="form-group">
        <label class="text-success"> Confirm Password</label>
        <input type="Password" name="password2" class="form-control border border-success" placeholder="Confirm Password">
    </div>
        <button type="submit" class="btn btn-secondary">Update</button>
    </form>
    {{/if}}
</body>

<script>

function updateTodo(task) {
    //console.log(task);
    //console.log(Object.getOwnPropertyNames(task));
    const updateUrl = "/users/update/" + task.data("id");
    const isDone = !(task.data("completed"));
    const updateData = {isCompleted: isDone};
    $.ajax({
        method: "POST",
        url: updateUrl,
        data: updateData
    })
        .then(function (todo) {
            console.log(todo);
            task.toggleClass("done");
            task.data("completed", isDone);
            console.log("task Data completed:" + task.data("completed"));
        })
        .catch(function (err) {
            console.log(err);
        });
}

$(".form-check").on("click", "input", function () {
    updateTodo($(this));
});
</script>
</html>