#canvas{
	display: none;
}
#overlay {
        position: absolute;
        display: block;
        width: 20%;
        height: 20%; 
        top: 100;
        left: 60;
        right: 70;
        bottom: 30;
        z-index: 2;
        cursor: pointer;
}

#text{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 50px;
	color: white;
}

#emoji1
{
	position: absolute;
	visibility: hidden;
}

#emoji2
{
	position: absolute;
	visibility: hidden;
}
.fa {
	font-size: 30px;
	cursor: pointer;
	user-select: none;
}
.fa:hover {
color: darkblue;
}
body{
	background-image: url("../Gallery/back-img.jpeg");
	z-index: 5;
}
.main_container {
	display: -ms-grid;
	margin: auto;
	width: 60%;
	padding: 10px;
}
.top_container{
	margin: auto;
	width: 60%;
	padding: 10px;
}

#photo_button, #save_photo, #fileToUpload {
	border: 1px solid green;
	width: 3em;
	height: 2.5em;

	/* background-color: rgba(0, 0, 0, 0.5); */
}

.emo_list, {
	border: 2px solid black;
	vertical-align: -webkit-baseline-middle;
}

.emojie {
	vertical-align: -webkit-baseline-middle;
	margin: 0 auto;
}
